{% extends "tethys_apps/app_base.html" %}

{% load tethys_gizmos %}
{% load tethys_gizmos staticfiles %}
{% load staticfiles %}
{% block title %}{{ tethys_app.name }}{% endblock %}
{% block app_icon %}<img alt="app_icon" src="{% static tethys_app.icon %}">{% endblock %}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}
  {% url 'streamflowservices:home' as home %}
  {% url 'streamflowservices:animation' as animation %}

  <li class="title">Global Streamflow Prediction</li>
  <li class="{% if request.path == home %}active{% endif %}"><a href="{{ home }}">Watershed Map Viewer</a></li>
  <li class="{% if request.path == animation %}active{% endif %}"><a href="{{ animation }}">Streamflow Animation</a></li>

  {% if request.path == home %}
    <li class="title">Map Instructions</li>
    <li>{% gizmo select_input watersheds_select_input %}</li>
    <li>Zoom in to a Stream</li>
    <li>Click on the Stream (a marker will appear and charts will start to load)</li>
    <li>Repeat with other streams/watersheds</li>
  {% endif %}

{% endblock %}