{% extends "streamflowservices/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}
  <h1>History of the Global Streamflow Forecasting Project</h1>
  <li>Funding/grants of SFPT here</li>
  <li>Purpose of the research</li>
  <li>PHD students who worked on developing the tool</li>
  <li>People that worked on SFPT and Derivative Applications</li>

  <h1>Methods and Accuracy</h1>
  <li>Data sources</li>
  <li>Discuss methodology of SFPT here</li>
  <li>Discuss accuracy/limitations of SFPT here</li>

  <h1>Additional Resources</h1>
  <li>How to get copies of the shapefiles through hydroshare</li>
  <li>Link to SFPT app/docker container githubs here</li>
  <li>Link to readthedocs for this app, old sfpt tool</li>
  <li>Link animation on ESRI living atlas</li>

  <h1>Citations</h1>
  <li>Maybe links to some particularly important publications</li>
{% endblock %}
