{% extends "streamflowservices/base.html" %}

{% load staticfiles %}
{% load tethys_gizmos %}


{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="View Chart">
    <a data-toggle="modal" data-target="#chart_modal"><span class="glyphicon glyphicon-globe"></span></a>
  </div>
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Search for River">
    <a data-toggle="modal" data-target="#search_modal"><span class="glyphicon glyphicon-search"></span></a>
  </div>
{% endblock %}


{% block app_content %}
  <div id="map" class="map" watersheds="{{ watersheds }}"></div>
{% endblock %}

{% block after_app_content %}
  <!-- Chart Modal -->
  <div id="chart_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a id="forecast_tab_link" href="#forecast_tab" aria-controls="forecast_tab" role="tab" data-toggle="tab">Forecast<span id="forecast-status" class="load-status"/></a></li>
            <li role="presentation">
              <a id="historical_tab_link" href="#historic_tab" aria-controls="historic_tab" role="tab" data-toggle="tab">Historic Simulation<span id="historic-status" class="load-status"/></a></li>
            <li role="presentation">
              <a id="daily_tab_link" href="#daily_tab" aria-controls="daily_tab" role="tab" data-toggle="tab">Daily Average<span id="daily-status" class="load-status"/></a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <!-- Streamflow Forecasts -->
            <div role="tabpanel" class="tab-pane active" id="forecast_tab">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div id="forecast-chart"></div>
                  <table id="forecast-table">
                    <tbody id="tbody"></tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Historical Data -->
            <div role="tabpanel" class="tab-pane" id="historic_tab">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div id="historic-chart"></div>
                </div>
              </div>
            </div>
            <!-- Daily Data -->
            <div role="tabpanel" class="tab-pane" id="daily_tab">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div id="daily-chart"></div>
                </div>
              </div>
            </div> <!-- /.tab-pane -->

          </div> <!-- /.tab-content -->
        </div> <!-- /.modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> <!-- /.modal-footer -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Search for River Modal -->
  <div id="search_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Search by River Reach ID</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label" for="reach-id-input">Reach ID</label>
            <input class="form-control" id="reach-id-input" type="input">
            <p class="help-block" id="reach-id-help-message"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" id="submit-search-reach-id">
            <span class="glyphicon glyphicon-play"></span> Search
          </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css">
  <link rel="stylesheet" href="{% static 'streamflowservices/css/map.css' %}">
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
    let gsURL = "{{ gs_url }}";
    let gsWRKSP = "{{ gs_workspace }}";
  </script>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script type="text/javascript" src="{% static 'streamflowservices/js/map.js' %}"></script>
{% endblock %}
